html{
  scroll-behavior: smooth;
  font-size:62.5%;
}

body{
  font-family:'Noto Serif JP', serif;
  letter-spacing: 0.05em;
}

/* 共通 */

.start{
  text-align:start;
}

.end{
  text-align: end;
  justify-content: flex-end;
}

.black{
  color:#171717;
}

.white{
  color:white;
}


/* タイトル共通 */
.title{
  display:flex;
  margin-bottom:80px;
  align-items: center;
  gap:33px;
  font-size:6rem;
  font-weight: 700;
  font-style:italic;
  line-height:1;
  letter-spacing:0.05em;
  color:#282F35;
}
.title::after{
  content:"";
  display:block;
  width:200px;
  height:5px;
  background:#282F35;
}
.title-white{
  display:flex;
  margin-bottom:80px;
  align-items: center;
  gap:33px;
  font-size:6rem;
  font-weight: 700;
  font-style:italic;
  line-height:1;
  letter-spacing:0.05em;
  color:white;
}
.title-white::after{
  content:"";
  display:block;
  width:200px;
  height:5px;
  background:white;
}


.uppercase{
  text-transform: uppercase;
}

/* 装飾タイトル共有 */
.shadow-text{
  padding-top:70px;
  max-width: 1200px;
  width:100%;
  font-size:9rem;
  font-weight: 700;
  line-height: 1;
  opacity: 5%;
}

/* ハイパーリンク（ボタン）共通 */
.button{
  display:inline-block;
  width:235px;
  height: 59px;
  background:#F7D43F;
  border-radius: 50px;
  text-align:center;
  box-shadow:0 0 6px #1B1310;
}
.button a{
  color:#171717;
  font-size:1.6rem;
  font-weight: 700;
  line-height: 59px;
}
.button:hover{
  opacity: 0.7;
}


/* ヘッダー FV */
.main-area{
  margin:0 auto;
  width: 100vw;
  height:100vh;
  background:url(../image/fv-bgi_01.png)no-repeat center/cover;
  animation-name:BG;
  animation-duration: 24s;
  animation-iteration-count:infinite;
}
@keyframes BG {
  0%{
    background:url(../image/fv-bgi_01.png)no-repeat center/cover;
  }
  10%{
    background:url(../image/fv-bgi_01.png)no-repeat center/cover;
  }
  40%{
    background:url(../image/fv-bgi_02.png)no-repeat center/cover;
  }
  50%{
    background:url(../image/fv-bgi_02.png)no-repeat center/cover;
  }
  80%{
    background:url(../image/fv-bgi_03.png)no-repeat center/cover;
  }
  90%{
    background:url(../image/fv-bgi_03.png)no-repeat center/cover;
  }

  
}

.main-area__nav{
  position:fixed;
  left: 50%;
  transform: translateX(-50%);
  display:flex;
  margin:0 auto;
  padding:30px 8.3vw;
  width:100%;
  align-items:center;
  justify-content:space-between;
  transition:all 0.3s ease; 
}

.main-area__nav h1{
  color:white;
  font-size:2.6rem;
  font-weight:700;
  font-style: italic;
  line-height:1;
}

.main-area__nav ul{
  display:flex;
  gap:30px;
  color:white;
  font-size:1.6rem;
  font-style:italic;
  font-weight:700;
  line-height:1;
  letter-spacing:0.05em;
}
.main-area__nav ul li a{
  color:white;
}

.main-area__copy{
  position:absolute;
  
  display:inline-block;
  color:white;
  left:8.3vw;
  top:54.3vh;
  text-align: center;
}

.main-area__copy--main{
  margin-bottom: 20px;
  font-size:7rem;
  font-weight: 700;
  line-height: calc(50/70);
}

.main-area__copy--sub{
  font-size:4rem;
  font-weight: 700;
  line-height: calc(50/40);
}


/* コンセプト */
.concept-wrapper{
  margin:0 auto;
  padding:100px 0 70px;
  max-width:1200px;
  width:100%;
}

.concept-box{
  font-size:3rem;
  font-weight: 700;
  line-height:calc(50/30);
  text-align: center;
}
.concept-box__item{
  display:flex;
  justify-content: center;
  padding:60px 0 0;
  align-items: center;
  gap:8.3vw;
}

.concept-box__item figcaption{
  width:30.5vw;
  font-size:1.6rem;
  font-weight: 700;
  line-height: calc(30/16);
  text-align: justify;
}

.concept-box__item img{
  width:30.5vw;
  height:100%;
  vertical-align: bottom;
  overflow: hidden;
}

/* ワーク */
.works-background{
  margin: 0 calc(50% -50vw);
  width: 100vw;
  background:url(../image/works-bgi.png)no-repeat center/cover;
}

.works-wrapper{
  margin:0 auto;
  padding:100px 0 70px;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.works-contents{
  display: flex;
  justify-content: center;
  gap:20px;
}

.works-contents__card{
  margin-bottom: 80px;
  width:320px;
}

.card-image{
  width: 100%;
}
.card-text{
  width: 100%;
  height:134px;   
  padding:25px 20px;
  background:white;
  font-size:1.6rem;
  font-weight: 400;
  line-height: calc(30/16);
  text-align: justify;
}



/* サービス */
.service-wrapper{
  margin:0 auto;
  padding: 100px 0 70px;
  max-width: 1200px;
  width:100%;
}

.service-item{
  display:flex;
  margin: 0 calc(50% - 50vw);
  width: 100vw;
  justify-content: center;
  gap:0;
}

.service-card{
  position: relative;
  width: 480px;
  color: white;
  font-size: 4rem;
  font-weight: 700;
  font-style: italic;
  line-height: calc(50/40);
  background:#282F35
}
.service-card img{
  width: 100%;
  height: auto;
  transition: all 0.3s;
}

.service-card img:hover{
  opacity:0.3;
  transition: all 0.3s;
}


.service-card p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}



/* コンタクト */
.contact-background{
  margin: 0 calc(50% - 50vw);
  width: 100vw;
  background:url(../image/contact-page-bgi.png)no-repeat center/cover;
}

.contact-wrapper{
  margin:0 auto;
  padding:109px 0 70px;
  max-width: 1200px;
  width: 100%;

}

.contact-contents{
  font-size:2rem;
  font-weight: 700;
  line-height: calc(29/20);
  text-align: center;
}

.contact-contents p{
  margin-bottom: 40px;
}

/* フッター */
footer{
  margin: 0 auto;
  width: 100vw;
  height: 79px;
  text-align: center;
  color: #282F35;
}

footer small{
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 79px;
}